<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit 'Create Review', class: "btn btn-primary" %>
<% end %>

<% @restaurant.reviews.each do |review| %>
  <p><i><%= review.content %></i> (<%= review.rating %> stars)
<% end %>

<hr>
<%= link_to 'Add a review', restaurant_path(@restaurant) %>
<%= link_to 'Back', root_path %>
