<p class="my-3">
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p class="my-3">
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p class="my-3">
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit 'Create Review', class: "btn btn-dark my-3" %>
<% end %>

<h4>Reviews</h4>
<% @restaurant.reviews.each do |review| %>
  <p><i><%= review.content %></i> (<%= review.rating %> stars)
<% end %>

<hr>
<%= link_to 'Back', root_path %>
